<html>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/details.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body background="/images/background.jpg">
    <div class="root">
        
        <div>
            <div style="height: auto;">
                
                    
                <form action="/admin/adminPersonalUpdate" method="post"
                    style="width: 100%;display: flex;justify-content: center;align-items: center;flex-direction:column;">
                    <h1
                        style="color: #4bcef3;margin-top: 40px;letter-spacing: 1;">
                        Personal Details</h1>
                    <div class="section1">
                        <input type="hidden" value="<%=result.userid%>" name="userid">
                        <input type="hidden" value="<%=aemail%>" name="aemail">
                        <input type="hidden" value="<%=apass%>" name="apass">
                        <div style="display: flex;flex-direction: row;width: 100%;margin-bottom: 10px;">
                            <div class="labeledfield">
                                <label>First Name</label>
                            <input type="text" name="fname" required placeholder="First Name" value="<%=result.fname%>">
                            </div>
                            <div class="labeledfield">
                                <label>Last Name</label>
                            <input type="text" name="lname" required placeholder="Last Name" value="<%=result.lname%>">
                            </div>
                        </div>
                        <div style="display: flex;flex-direction: row;width: 100%;margin-bottom: 10px;">
                            <div class="labeledfield">
                                <label>Email</label>
                            <input type="email" name="email" required placeholder="Email" value="<%=result.pemail%>">
                            </div>
                            <div class="labeledfield">
                                <label>Mobile Number</label>
                            <input type="tel" name="phone" required placeholder="Mobile Number" pattern="[0-9]{10}"
                                value="<%=result.mobile%>">
                            </div>
                        </div>
                        <div style="display: flex;flex-direction: row;width: 100%;margin-bottom: 10px;">
                            <div class="labeledfield">
                                <label>Designation</label>
                            <input type="text" name="designation" required placeholder="Designation"
                                value="<%=result.designation%>">
                            </div>
                            <div class="labeledfield">
                                <label>LinkedIn</label>
                            <input type="text" name="linkedin" placeholder="LinkedIn Account"
                                value="<%=result.linkedin%>">
                            </div>
                        </div>
                        <div style="display: flex;flex-direction: column;width: 100%;margin-bottom: 10px;">
                            <div class="labeledfield">
                                <label>Address</label>
                            <input type="text" name="address" required placeholder="Address"
                                value="<%=result.address%>">
                            </div>
                            <div class="labeledfield">
                                <label>Career Objective</label>
                            <input type="text" name="objective" required placeholder="Career Objective"
                                value="<%=result.objective%>">
                            </div>
                            <div class="labeledfield">
                                <label>Picture</label>
                            <input type="file" name="photo" placeholder="Uplaod Picture" value="<%=result.photo%>">
                            </div>
                        </div>
                        <input type="submit" value="Update">
                    </div>
                </form>
            </div>
        </div>
</body>

</html>