<html>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/details.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body background="/images/background.jpg">
    <div class="root">
        <div class="subroot1 links">
            <h2 style="color: #4bcef3;letter-spacing: 1;">Resume Details</h2>
            <form action="/landing/navpersonal" method="post" style="margin-bottom:8px;">
                <input type="hidden" name="user" value="<%=id%>">
                <input type="submit" class="active anchor" style="padding: 20px;border-radius: 0px;width: 100%;margin: 0px;" value="Personal Details">
                </form>
                <form action="/landing/naveducation" method="post" style="margin-bottom:8px;">
                   <input type="hidden" name="user" value="<%=id%>">
                   <input type="submit" class="active anchor" style="padding: 20px;border-radius: 0px;width: 100%;margin: 0px;" value="Education">
                </form>
                <form action="/landing/navexperience" method="post" style="margin-bottom:8px;">
                   <input type="hidden" name="user" value="<%=id%>">
                   <input type="submit" class="active anchor" style="background-color:#2291af ;padding: 20px;border-radius: 0px;width: 100%;margin: 0px;" value="Experience">
                </form>
                <form action="/landing/navskillshobbies" method="post" style="margin-bottom:8px;">
                   <input type="hidden" name="user" value="<%=id%>">
                   <input type="submit" class="active anchor" style="padding: 20px;border-radius: 0px;width: 100%;margin: 0px;" value="Skills & Hobbies">
                </form>
                <form action="/landing/navawards" method="post" style="margin-bottom:8px;">
                   <input type="hidden" name="user" value="<%=id%>">
                   <input type="submit" class="active anchor" style="padding: 20px;border-radius: 0px;width: 100%;margin: 0px;" value="Awards & Achievements">
                </form>
                <form action="/landing/navlanguages" method="post" style="margin-bottom:8px;">
                   <input type="hidden" name="user" value="<%=id%>">
                   <input type="submit" class="active anchor" style="padding: 20px;border-radius: 0px;width: 100%;margin: 0px;" value="Languages Known">
                </form>
                <form action="/landing/navprojects" method="post" style="margin-bottom:8px;">
                   <input type="hidden" name="user" value="<%=id%>">
                   <input type="submit" class="active anchor" style="padding: 20px;border-radius: 0px;width: 100%;margin: 0px;" value="Projects">
                </form>
                <form action="/landing/exit" method="post" >
                    <input type="hidden" name="user" value="<%=id%>">
                    <input type="submit" class="active anchor" style="padding: 20px;border-radius: 0px;width: 100%;margin: 0px;" value="Exit">
                 </form>
        </div>
        <form action="/resume/insertexperiencedetails" method="post">
            <div class="subroot2">
                <h2 style="color: #4bcef3;">Experience</h2>
                <div class="section2 repeatable">
                    <input type="hidden" name="user" value="<%=id%>">
                    <div style="display: flex;flex-direction: row;width: 100%;">
                        <input type="text" name="cname" placeholder="Company Name" required pattern="[A-Za-z0-9& .]*"><span style="color: red;margin-top: 10px;">*</span>
                        <input type="text" name="time" placeholder="Time Period" required pattern="^[\d\s.a-zA-Z]+$"><span style="color: red;margin-top: 10px;">*</span>
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;">
                    <textarea style="height:50px;border-radius: 5px;width: 97%;margin: 10px;" placeholder="Description"
                        name="desc" maxlength="400" required></textarea><input type="button" value="Add Skills +" onclick="skill_fields()" class="active anchor"
                        style="border-radius: 5px;padding: 2px 2px;width:50%;cursor: pointer;border: none;height: 35px;"></input>
                    </div>
                </div>
                <input type="button" class="repeat" value="&#43; Add More" style="width: 12%;">
                <input type="submit" value="Save and Next &#x2192;" >
            </div>
        </form>
        <script>
            var count = 1;
            $(function () {
                $(".repeat").on('click', function (e) {
                    e.preventDefault();
                    var $self = $(this);
                    if (count < 3) {
                        $self.before($self.prev('div').append(' <div style="display: flex;flex-direction: row;width: 100%;"><input type="text" name="cname" placeholder="Company Name" pattern="[A-Za-z0-9& .]*" required><span style="color: red;margin-top: 10px;">*</span><input type="text" name="time" placeholder="Time Period" pattern="^[\d\s.a-zA-Z]+$" required><span style="color: red;margin-top: 10px;">*</span></div> <div style="display: flex;flex-direction: row;width: 100%;"><textarea style="height:50px;border-radius: 5px;width: 97%;margin: 10px;" maxlength="400" required placeholder="Description" name="desc"></textarea><span style="color: red;margin-top: 10px;">*</span></div>'));
                        // $self.remove();
                        count++
                    }
                    else {
                        alert("Not able to add more than 3 experience")
                    }
                });
            });

        </script>
    </div>
</body>


</html>