<style type="text/css">
  .root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  tr {
    line-height: 3px;
    font-size: 12px;
  }

  .column {
    float: left;
  }

  .left {
    width: 34%;
    height: 900px;
  }

  .right {
    width: 66%;
    height: 900px;
  }

  a,
  a:hover {
    color: #333
  }

  .common {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  header {
    overflow: hidden;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: white;
    padding: 5px;
    z-index: 2;
  }

  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin: 0px 7px 0px 7px;
  }

  .header a.logo {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .header a:hover {
    background-color: #ddd;
    color: black;
  }

  .header a.active {
    background-color: #4bcef3;
    color: white;
  }

  .header-right {
    float: right;
  }

  .himg {
    height: 30px;
    width: 30px;
  }

  input[type=submit],
  [type=button] {
    background-color: #dfe4ea;
    color: black;
    border: none;
    border-radius: 3px;
    width: auto;
    float: right;
    font-size: 17px;
    cursor: pointer;
    padding: 8px;
  }

  input[type=submit]:hover {
    background-color: #b7c3d3;
    color: black
  }
</style>
<html>

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

<body style="font-size: 10px;" background="/images/background.jpg">
  <header class="header" style="display: flex;justify-content: space-between;">
    <a href="#default" class="logo">
      <img class="himg" src="/images/cv.png" />
      <div style="margin: 0px 5px 0px 5px;">Resume Builder</div>
    </a>
    <div style="display: flex;flex-direction: row;gap: 10px;">
      <div style="display: flex;justify-content: center;align-items: center;margin: 2px;">
        <form action="/landing/exit" method="post" style="margin: 0;padding: 0;">
          <input type="hidden" name="template" value="1">
          <input type="hidden" name="user" value="<%=result.userid%>">
          <input type="submit" value="&larr; BACK">
        </form>
      </div>
      <div style="display: flex;justify-content: center;align-items: center;margin:2px">
        <input type="submit" value="DOWNLOAD" id="btnExport">
      </div>
    </div>
    <div style="display: flex;justify-content: center;align-items: center; float: right;cursor: pointer;">
      <div style="margin-right: 10px;">
        <%=result.name%>
      </div>
      <div><img class="himg" src="/images/profile.png"></div>
    </div>
  </header>
  <div class="root" style="margin:70px 0;">
    <div style="height:auto;width:55%;box-shadow: 5px 10px 18px #888888;">
      <div class="row" id="template">
        <div class="column left" style="background-color:#E6E6FA;padding: 12px;">
          <div class="row common" style="margin: 0;">
            <font style="font-weight: bold;letter-spacing: 2px;font-size: 20px;">
              <%=result.fname%>
                <%=result.lname%>
            </font>
          </div>
          <div class="row common" style="margin: 0;">
            <img src='/images/<%=result.photo%>' width="150px" height="150px"
              style="border-radius:100%;padding-bottom:3px;">
          </div>
          <div class="row common" style="margin: 0;">
            <font style="font-weight: bold;letter-spacing: 2px;font-size: 20px;padding:3px;">
              <%=result.designation%>
            </font>
          </div>
          <hr color="#ecf0f1" style="height:2px;margin:5px 0px 5px 0px;">
          <div style="display: flex; flex-direction: column; padding: 10px; gap: 10px;">
            <div class="row" style="margin: 0;">
              <i class="fa fa-envelope" aria-hidden="true" style="padding: 5px;letter-spacing: 1;">
                <%=result.pemail%>
              </i>
            </div>
            <div class="row" style="display: flex;flex-wrap: wrap; margin: 0;">
              <i class="fa fa-phone" aria-hidden="true" style="padding: 5px;">
                <%=result.mobile%>
              </i>
            </div>
            <div class="row" style="margin: 0;">
              <i class="fas fa-city" aria-hidden="true" style="padding: 5px;">
                <%=result.address%>
              </i>
            </div>
            <div class="row" style="word-wrap: break-word; margin: 0;">
              <i class="fa fa-linkedin icon" aria-hidden="false" style="padding: 5px;">
                <%=result.linkedin%>
              </i>
            </div>
          </div>
          <hr color="#ecf0f1" style="height:2px;margin:5px 0px 5px 0px;">
          
          <%if(result2.length>0){%>
            <div class="row" style="display: flex;justify-content: center;align-items: center; margin: 0;">
              <font style="font-weight: bold;letter-spacing: 2px;font-size: 20px;padding:3px;">Skills</font>
            </div>
            <div style="display: flex;flex-direction: row;flex-wrap: wrap; padding: 10px;">
              <%result2.forEach((row)=>{%>
                <div style="margin-right:10px;">&#9679; <%=row.skill%>
                </div>
                <%})%>
            </div>
            <hr color="#ecf0f1" style="height:2px;margin:5px 0px 5px 0px;">
            <%}%>
              <%if(result3.length>0){%>
                <div class="row" style="display: flex;justify-content: center;align-items: center; margin: 0;">
                  <font style="font-weight: bold;letter-spacing: 2px;font-size: 20px;padding:3px;">Hobbies</font>
                </div>
                <div style="display: flex;flex-direction: row;flex-wrap: wrap; padding: 10px;">
                  <%result3.forEach((row)=>{%>
                    <div style="margin-right:10px;">&#9679; <%=row.hobbies%>
                    </div>
                    <%})%>
                </div>
                <hr color="#ecf0f1" style="height:2px;margin:5px 0px 5px 0px;">
                <%}%>
                  <div class="row" style="display: flex;justify-content: center;align-items: center; margin: 0;">
                    <font style="font-weight: bold;letter-spacing: 2px;font-size: 20px;padding:3px;">Languages Known
                    </font>
                  </div>
                  <div style="display: flex;flex-direction: row;flex-wrap: wrap; padding: 10px;">
                    <%result5.forEach((row)=>{%>
                      <div style="margin-right:10px;">&#9679; <%=row.languages%>
                      </div>
                      <%})%>
                  </div>
        </div>
        <div class="column right" style="background-color:white;margin: 0;padding: 12px;">
          <div class="row" style="margin: 0;margin-top:10px;font-weight:bold;letter-spacing: 2px;">
            CAREER&nbsp;OBJECTIVE
          </div>
          <hr color="#ecf0f1" style="height:2px;margin:5px 0px 5px 0px;">
          <div class="row" style="margin:0;padding:5px;">
            <%=result.objective%>
          </div>
          <div class="row" style="margin: 0;font-weight:bold;letter-spacing: 2px;">
            EDUCATIONAL&nbsp;QUALIFICATION
          </div>
          <hr color="#ecf0f1" style="height:2px;margin:5px 0px 5px 0px;">
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Examinations</th>
                  <th scope="col">Specialization</th>
                  <th scope="col">Year</th>
                  <th scope="col">Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">High School</th>
                  <td></td>
                  <td>
                    <%=result.ssc_passyear%>
                  </td>
                  <td>
                    <%=result.ssc_per%>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Higher Secondary</th>
                  <td>
                    <%=result.hsc_spec%>
                  </td>
                  <td>
                    <%=result.hsc_passyear%>
                  </td>
                  <td>
                    <%=result.hsc_per%>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Under Graduation</th>
                  <td>
                    <%=result.ug_spec%>
                  </td>
                  <td>
                    <%=result.ug_passyear%>
                  </td>
                  <td>
                    <%=result.ug_cgpa%> CGPA
                  </td>
                </tr>
                <tr>
                  <th scope="row">Post Graduation</th>
                  <td>
                    <%=result.pg_spec%>
                  </td>
                  <td>
                    <%=result.pg_passyear%>
                  </td>
                  <td>
                    <%=result.pg_cgpa%> CGPA
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <%if(result4.length>0){%>
            <div class="row" style="margin: 0px;font-weight:bold;letter-spacing: 2px;">
              AWARDS&nbsp;AND&nbsp;ACHIEVEMENTS
            </div>
            <hr color="#ecf0f1" style="height:2px;margin:5px 0px 5px 0px;">
            <div style="padding-top:2px;padding-bottom:5px;">
              <%result4.forEach((row)=>{%>
                <div style="display: flex;flex-direction:column;margin-bottom: 5px;">
                  <div style="font-weight: bold;">&#9679; <%=row.validfrom%> - <%=row.validto%>
                  </div>
                  <div style="margin-left: 8px;">
                    <%=row.award_desc%>
                  </div>
                </div>
                <%})%>
            </div>
            <%}%>
              <%if(result6.length>0){%>
                <div class="row" style="margin: 0;font-weight:bold;letter-spacing: 2px;">
                  PROJECTS
                </div>
                <hr color="#ecf0f1" style="height:2px;margin:5px 0px 5px 0px;">
                <div style="padding-top:2px;padding-bottom:5px;">
                  <%result6.forEach((row)=>{%>
                    <div style="display: flex;flex-direction:column;margin-bottom: 5px;">
                      <div style="font-weight: bold;">&#9679; <%=row.projectname%>
                      </div>
                      <div style="display: flex;flex-direction:row;">
                        <div style="margin:0px 15px 0px 10px"><span style="color:gray;">Role</span> - <%=row.role%>
                        </div>
                        <div><span style="color:gray;">Project Link</span> - <a href="#">
                            <%=row.projectlink%>
                          </a></div>
                      </div>
                      <div style="margin-left: 10px;">
                        <%=row.projectdesc%>
                      </div>
                    </div>
                    <%})%>
                </div>
                <%}%>
                  <%if(result7.length>0){%>
                    <div style="margin:0;font-weight:bold;letter-spacing: 2px;">
                      EXPERIENCE
                    </div>
                    <hr color="#ecf0f1" style="height:2px;margin:5px 0px 5px 0px;">
                    <div style="padding-top:2px;padding-bottom:5px;">
                      <%result7.forEach((row)=>{%>
                        <div style="display: flex;flex-direction:column;margin-bottom: 5px;">
                          <div style="font-weight: bold;">&#9679; <%=row.company%>&nbsp;<span style="color: grey;">(
                                <%=row.timeperiod%> )
                              </span>
                          </div>
                          <div style="margin-left: 10px;">
                            <%=row.description%>
                          </div>
                        </div>
                        <%})%>
                    </div>
                    <%}%>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    // $("body").on("click", "#btnExport", function () {
    //   html2canvas($('#template')[0], {
    //     scale:2,
    //     onrendered: function (canvas) {
    //       var data = canvas.toDataURL();
    //       var docDefinition = {
    //         content: [{
    //           image: data,
    //           width: 500,
    //           height: 700,
    //         }]
    //       };
    //       pdfMake.createPdf(docDefinition).download("Resume.pdf");
    //     }
    //   });
    // });
    document.getElementById('btnExport').addEventListener('click', function () {
      const element = document.getElementById('template');

      // Set the options for PDF generation
      const options = {
        margin: 10,
        filename: 'resume.pdf',
        image: { type: 'jpeg', quality: 0.98 },
        html2canvas: { scale: 2 },
        jsPDF: { unit: 'mm', orientation: 'portrait' }
      };

      // Generate the PDF from the div content
      html2pdf().from(element).set(options).save();
    });
  </script>
</body>

</html>