<html>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/details.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body background="/images/background.jpg">
    <div class="root">
        <div class="subroot1 links">
            <h2 style="color: #4bcef3;letter-spacing: 1;">Resume Details</h2>
            <form action="/landing/personal" method="post" style="margin-bottom:8px;">
                <input type="hidden" name="user" value="<%=id%>">
                <input type="submit" class="active anchor"
                    style="padding: 20px;border-radius: 0px;width: 100%;margin: 0px;border-radius: 0px;width: 100%;margin: 0px;"
                    value="Personal Details">
            </form>
            <form action="/landing/education" method="post" style="margin-bottom:8px;">
                <input type="hidden" name="user" value="<%=id%>">
                <input type="submit" class="active anchor"
                    style="background-color:#2291af ;padding: 20px;border-radius: 0px;width: 100%;margin: 0px;"
                    value="Education">
            </form>
            <form action="/landing/experience" method="post" style="margin-bottom:8px;">
                <input type="hidden" name="user" value="<%=id%>">
                <input type="submit" class="active anchor"
                    style="padding: 20px;border-radius: 0px;width: 100%;margin: 0px;" value="Experience">
            </form>
            <form action="/landing/skillshobbies" method="post" style="margin-bottom:8px;">
                <input type="hidden" name="user" value="<%=id%>">
                <input type="submit" class="active anchor"
                    style="padding: 20px;border-radius: 0px;width: 100%;margin: 0px;" value="Skills & Hobbies">
            </form>
            <form action="/landing/awards" method="post" style="margin-bottom:8px;">
                <input type="hidden" name="user" value="<%=id%>">
                <input type="submit" class="active anchor"
                    style="padding: 20px;border-radius: 0px;width: 100%;margin: 0px;" value="Awards & Achievements">
            </form>
            <form action="/landing/languages" method="post" style="margin-bottom:8px;">
                <input type="hidden" name="user" value="<%=id%>">
                <input type="submit" class="active anchor"
                    style="padding: 20px;border-radius: 0px;width: 100%;margin: 0px;" value="Languages Known">
            </form>
            <form action="/landing/projects" method="post" style="margin-bottom:8px;">
                <input type="hidden" name="user" value="<%=id%>">
                <input type="submit" class="active anchor"
                    style="padding: 20px;border-radius: 0px;width: 100%;margin: 0px;" value="Projects">
            </form>
            <form action="/landing/exit" method="post">
                <input type="hidden" name="user" value="<%=id%>">
                <input type="submit" class="active anchor"
                    style="padding: 20px;border-radius: 0px;width: 100%;margin: 0px;" value="Exit">
            </form>
        </div>
        <div>
            <div class="subroot2" style="height: auto;">
                <div style="display: flex;flex-direction: row;width: 100%;">
                    <h2
                        style="color: #4bcef3;margin-top: 40px;margin-left:-150px;letter-spacing: 1;float: left;width: 50%;">
                        Education</h2>
                    <form action="/landing/skipEducation" method="post"
                        style="float: right;width: 50%;margin-left: 150px;">
                        <input type="hidden" name="user" value="<%=id%>">
                        <input type="submit" value="Skip &#x2192;" width="20%">
                    </form>
                </div>
                <form action="/landing/updateEducation" style="width: 100%;display: flex;justify-content: center;align-items: center;" method="post">
                    <div class="section2">
                        <input type="hidden" name="user" value="<%=id%>">
                        <h4 style="color: #2291af;letter-spacing: 1;">SSC Details</h4>
                        <div style="display: flex;flex-direction: row;width:100%;">
                            <div class="labeledfield">
                            <label>Passing Year</label>
                            <input type="text" required name="sscyear" placeholder="Passing Year" value="<%=result.ssc_passyear%>">
                            </div>
                            <div class="labeledfield">
                                <label>Percentage</label>
                            <input type="text" required name="sscper" placeholder="Percentage" value="<%=result.ssc_per%>">
                            </div>
                        </div>
                        <h4 style="color: #2291af;letter-spacing: 1;">HSC Details</h4>
                        <div style="display: flex;flex-direction: row;width: 100%;">
                            <div class="labeledfield">
                            <label>Passing Year</label>
                            <input type="text" required name="hscyear" placeholder="Passing Year" value="<%=result.hsc_passyear%>">
                            </div>
                            <div class="labeledfield">
                            <label>Percentage</label>
                            <input type="text" required name="hscper" placeholder="Percentage" value="<%=result.hsc_per%>">
                            </div>
                            <div class="labeledfield">
                            <label>Specialization</label>
                            <input type="text" required name="hscspec" placeholder="Specialization" value="<%=result.hsc_spec%>">
                            </div>
                        </div>
                        <h4 style="color: #2291af;letter-spacing: 1;">Undergraduation Details</h4>
                        <div style="display: flex;flex-direction: row;width: 100%;">
                            <div class="labeledfield">
                            <label>Passing Year</label>
                            <input type="text" required name="ugyear" placeholder="Passing Year" value="<%=result.ug_passyear%>">
                            </div>
                            <div class="labeledfield">
                            <label>CGPA</label>
                            <input type="text" required name="ugper" placeholder="CGPA" value="<%=result.ug_cgpa%>">
                            </div>
                            <div class="labeledfield">
                            <label>Specialization</label>
                            <input type="text" required name="ugspec" placeholder="Specialization" value="<%=result.ug_spec%>">
                            </div>
                        </div>
                        <h4 style="color: #2291af;letter-spacing: 1;">Postgraduation Details</h4>
                        <div style="display: flex;flex-direction: row;width: 100%;">
                            <div class="labeledfield">
                                <label>Passing Year</label>
                            <input type="text" name="pgyear" placeholder="Passing Year" value="<%=result.pg_passyear%>">
                            </div>
                            <div class="labeledfield">
                                <label>CGPA</label>
                            <input type="text" name="pgper" placeholder="CGPA" value="<%=result.pg_cgpa%>">
                            </div>
                            <div class="labeledfield">
                                <label>Specialization</label>
                            <input type="text" name="pgspec" placeholder="Specialization" value="<%=result.pg_spec%>">
                            </div>
                        </div>

                        <input type="submit" value="Update &#x2192;">
                    </div>
                </form>
            </div>
        </div>
</body>

</html>