<form action="/landing/feedback" method="post">
    <div class="container" id="fill-feedback" style="display: flex;justify-content: center;align-items: center; display: none;">
        <div class="root" style="height: auto;width: 40%;">
            <div style="display: flex;align-items: flex-end;justify-content: flex-end;">
                <input class="close" type="button" value="X" id="feedback-close">
            </div>
            <div style="display: flex;float: left;width:100%;flex-direction: column;justify-content: center;align-items: center;">
                <h1 style="color: #2291af;">Feedback</h1>
                <div style="width: 80%;margin-bottom: 15px;">
                    <input type="hidden" name="userid" value="<%=result.userid%>">
                    <label>Name</label>
                    <input type="hidden" placeholder="First Name" name="name" value="<%=result.name%>">
                    <input type="text" placeholder="First Name" value="<%=result.name%>" disabled>
                </div>
                <div style="width: 80%;">
                    <label>Mobile Number <span style="color: red;">*</span></label>
                    <input type="tel" placeholder="Mobile Number" name="mobile" pattern="[0-9]{10}" required style="margin-bottom: 15px;">
                    <label>Email</label>
                    <input type="email" placeholder="Email" name="email" value="<%=result.email%>" disabled style="margin-bottom: 15px;">
                    <input type="hidden" placeholder="Email" name="email" value="<%=result.email%>"  style="margin-bottom: 15px;">
                </div>
                <div style="width: 80%;">
                <label>Feedback <span style="color: red;">*</span></label>
                <textarea style="height: 100px;border-radius: 5px;width: 93%;margin: 10px;"
                    placeholder="Feedback" name="feedback" required maxlength="600"></textarea>
                </div>
                <div>
                <input type="submit" style="margin: 30px;color: white;background-color: #4bcef3;border-radius: 5px;border: none;width: 90%; height: 40px;">
            </div>
            </div>
        </div>
</form>